PORT=3004
NEXT_PUBLIC_APP_NAME="SPARTA Siaga"
NEXT_PUBLIC_APP_URL="http://localhost:3004"
SPARTA_API_URL="http://localhost:10000"
SPARTA_LOGIN_URL="http://localhost:5173"
DATABASE_URL="postgres://username:password@host:port/database?sslmode=require"
